@{
  Layout = "_Layout";
}

<h1>Authentication</h1>

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>

  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input class="btn" type="submit" value="Mischief Managed"/>
  }
}
else
{
  <button>@Html.ActionLink("Register", "Register")</button>
  <button>@Html.ActionLink("Log in", "Login")</button>
}