body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(95, 180, 189);
}

a {
  color: rgb(88, 208, 222);
}

a:hover {
  color: rgb(194, 81, 181);
}

.nav a {
  color: rgb(78, 152, 160, 1);
}

.box {
  background: rgba(252, 252, 252, 0.9);
  border-radius: 10px;
  font-size: medium;
  border: 8px solid rgb(250, 157, 229);
  padding: 20px;
  text-align: center;
  margin: 20%;
}

.nav {
  top: 0px;
  list-style-type: none;
  padding-left: 10%;
  width: 100%;
  opacity: 0.8;
  background-color: rgb(250, 157, 229);
  position: fixed;
  overflow: auto;
  display: inline;
  font-weight: bolder;
  font-size: large;
}

.nav li {
  float: left;
  color: rgb(95, 180, 189);
}

h1, h2, h3, h4 {
  color: rgb(95, 180, 189);
}

button {
  margin: 5px;
}

.navbtn {
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.nav li.hello {
  opacity: 0.95;
  color: rgba(252, 252, 252, 1);
  margin-top: 10px;
  float: right;
}

.nav-greeting li {
  float: right;
}

.nav-greeting {
  margin-right: 2%;
}

.btn, button {
  background-color: rgb(95, 180, 189);
  color: rgba(252, 252, 252, 1);
  border: 2px solid rgb(250, 224, 157);
}

.btn a, button a  {
  color: rgba(252, 252, 252, 1);
}

.btn:hover, button:hover {
  background-color: rgb(250, 224, 157);
  color: rgba(95, 180, 189);
  border: 2px solid rgb(95, 180, 189);
}

.btn a:hover, button a:hover  {
  color: rgba(95, 180, 189);
}

@media (min-width: 800px) {
  .box {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
  }
}